name: Node.js CI

on: [push, pull_request]

jobs:
    build:
        name: generator-jhipster-jooq tests
        runs-on: 'ubuntu-20.04'

        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: 12.x
            - run: npm ci
            - run: npm test
